.contacts-section {
  padding-bottom: 60px;
  background: var(--main-green);
  // background: linear-gradient(180deg, #01010100 18%, var(--main-green) 18%);
}

.visit-item-titel {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  color: var(--text-dark);
  text-transform: uppercase;
}

.address-city {
  color: var(--text-dark);
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
}

.address-street {
  color: var(--chocolate);
  font-weight: 500;
  font-size: 12px;
  line-height: 1.83;
}

.working-period-day {
  color: var(--text-dark);
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
}

.working-period-hours {
  color: var(--button-grey);
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
}

.visit-list {
  bottom: 90px;
  position: relative;
  // position: relative;
  bottom: 390px;
  margin-bottom: -390px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.visit-item {
  width: 280px;
  background-color: var(--text-light);
  border-radius: 24px;
  padding: 40px 32px 24px 32px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.visit-item-titel {
  background-color: var(--main-yellow);
  padding: 4px 22px;
  display: inline-block;
  border-radius: 4px;
}

.address-container {
  margin-top: 20px;
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.address-container::after {
  content: '';
  position: relative;
  display: block;
  width: 100%;
  background-color: var(--grey-line);
  border-radius: 2px;
  height: 1px;
  top: 24px;
}

.working-period::after {
  content: '';
  position: relative;
  display: block;
  width: 100%;
  background-color: var(--grey-line);
  border-radius: 2px;
  height: 1px;
  top: 24px;
}

.address-city {
  margin-bottom: 8px;
}

.working-period {
  margin-top: 24px;
  margin-bottom: 24px;
  width: 100%;
}

.working-period-weekend {
  margin-top: 8px;
}

.contacts-list {
  margin-top: 24px;
  display: inline-block;
}

.contacts-list-item a {
  color: var(--text-dark);
  line-height: 1.6;
  font-size: 12px;
  font-weight: 500;
}

.contacts-list-item:nth-child(2) {
  margin-top: 6px;
}

.button-our-location {
  width: 196px;
  height: 42px;
  background-color: var(--main-yellow);
  border-radius: 10px;
  border: none;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.28;
  color: var(--text-dark);
}

.button-franchise {
  width: 196px;
  height: 42px;
  background-color: transparent;
  border-radius: 10px;
  border: solid var(--main-yellow) 2px;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.28;
  color: var(--text-dark);
}

.button-franchise:hover {
  border: solid var(--button-green) 2px;
}

.button-our-location:hover {
  background-color: var(--button-green);
}

.button-our-location:focus {
  background-color: var(--button-green);
  color: var(--white);
  outline: none;
}

.button-franchise:focus {
  color: var(--white);
  outline: none;
  border-color: var(--button-green);
}

.contacts-buttons-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 20px;
  align-items: center;
}

// ========================= Tablet================================

@media screen and (min-width: 768px) {
  .visit-list {
    flex-direction: row;
    justify-content: center;
  }
}

@media screen and (min-width: 768px) {
  .visit-item {
    width: 224px;
    padding: 40px 24px;
  }
}

@media screen and (min-width: 768px) {
  .visit-item h3 {
    font-size: 16px;
  }
}

@media screen and (min-width: 768px) {
  .address-container {
    margin-top: 32px;
    margin-bottom: 32px;
  }
}

@media screen and (min-width: 768px) {
  .address-city {
    margin-bottom: 12px;
    font-size: 14px;
  }
}

@media screen and (min-width: 768px) {
  .address-street {
    font-size: 14px;
  }
}

@media screen and (min-width: 768px) {
  .working-period {
    margin-top: 32px;
    margin-bottom: 32px;
  }
}

@media screen and (min-width: 768px) {
  .working-period p {
    font-size: 14px;
  }
}

@media screen and (min-width: 768px) {
  .address-container:after,
  .working-period:after {
    top: 32px;
    bottom: 32px;
  }
}

@media screen and (min-width: 768px) {
  .contacts-list {
    margin-top: 32px;
    font-size: 14px;
  }
}

@media screen and (min-width: 768px) {
  .contacts-list-item a {
    font-size: 14px;
  }
}

@media screen and (min-width: 768px) {
  .contacts-buttons-list {
    margin-top: 40px;
    flex-direction: row;
    justify-content: center;
  }
}

@media screen and (min-width: 768px) {
  .contacts-section {
    padding-bottom: 40px;
  }
}

// ========================= Desktop ==================================

@media screen and (min-width: 1200px) {
  .visit-item {
    width: 368px;
    padding: 40px;
  }
}

@media screen and (min-width: 1200px) {
  .address-city {
    margin-bottom: 8px;
    font-size: 16px;
  }
}

@media screen and (min-width: 1200px) {
  .address-street {
    font-size: 16px;
  }
}

@media screen and (min-width: 1200px) {
  .working-period p {
    font-size: 16px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts-list-item a {
    font-size: 16px;
  }
}

@media screen and (min-width: 1200px) {
  .working-period-weekend {
    margin-top: 12px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts-section {
    padding-bottom: 120px;
  }
}
