.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal-location {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 280px;

  height: 674px;
  padding: 28px;
  background-color: var(--text-light);
  border: 2px solid var(--main-yellow);
  border-radius: 10px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-franchise__title {
  font-family: 'Seymour One';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  text-align: center;
  color: var(--text-dark);
  margin-bottom: 20px;
}

.modal-franchise__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: var(--text-dark);
  margin-bottom: 24px;
}

.close-btn {
  position: absolute;
  top: 12px;
  right: 12px;
  border: none;
  width: 20px;
  height: 20px;
  background-color: var(--text-light);
}

.close-button__icon {
  fill: var(--text-dark);
}

.modal-franchise__input,
.modal-franchise__message {
  margin-bottom: 12px;
  background: rgba(248, 210, 78, 0.1);
  border: 1px solid #84a178;
  border-radius: 10px;
  height: 32px;
  width: 224px;
  padding: 7px 12px;
}

.modal-franchise__message {
  margin-bottom: 12px;
  background: rgba(248, 210, 78, 0.1);
  border: 1px solid #84a178;
  border-radius: 10px;
  height: 64px;
  width: 224px;
  padding: 7px 12px;
  resize: none;
}

.modal-franchise__input::placeholder,
.modal-franchise__message::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 140%;
  color: var(--text-dark);
}

.button-franchise-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-franchise__button {
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  align-items: center;
  text-align: center;
  color: var(--text-dark);
  width: 114px;
  padding: 12px 34px;
  background: var(--main-yellow);
  border-radius: 10px;
  border: none;
}

@media screen and (min-width: 768px) {
  .modal--franchise {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 568px;
    height: 668px;
    padding: 32px 56px;
  }

  .modal-franchise__title {
    width: 322px;
    font-size: 20px;
    line-height: 1.4;
  }

  .modal-franchise__description {
    font-size: 16px;
    line-height: 140%;
    margin-bottom: 32px;
  }

  .modal-franchise__field-group {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .modal-franchise__input,
  .modal-franchise__message {
    height: 42px;
    width: 368px;
    margin-bottom: 16px;
  }

  .modal-franchise__message {
    height: 84px;
    margin-bottom: 32px;
  }

  .close-btn {
    width: 24px;
    height: 24px;
  }

  .close-button__icon {
    fill: var(--text-dark);
    width: 13px;
    height: 13px;
  }
  z-index: 100;

  background: #fcfcfc;
  border: 2px solid #f8d24e;
  border-radius: 10px;

  padding: 28px;
}
.modal-location-button {
  position: absolute;
  top: 12px;
  right: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 11px;
  height: 11px;
  border: transparent;
  background-color: transparent;
  padding: 0;
}
.modal-location-button-icon {
  fill: #131313;
}

.modal-location-title {
  font-family: Seymour One, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;

  margin-bottom: 20px;
  margin-top: 0;

  text-align: center;
}

.map-location {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
}
.button-open-map {
  display: inline-block;
  padding-top: 12px;
  padding-bottom: 12px;
  width: 134px;
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.2;
  text-align: center;
  background-color: #f8d24e;
  color: #000000;
  border-radius: 10px;
  border: transparent;
  align-self: center;
}

.button-open-map:hover {
  background-color: #0a8817;
}
.button-open-map:focus {
  background-color: #0a8817;
  color: #ffffff;
}
.button-open-map:disabled {
  background-color: #ababab;
}
