   
/*   ____________________________  mobile   _______________________________________   */
        
        
@media screen and (max-width: 767px)  {


      .top-product {
      text-align: center;
      
      }
      
      .products {
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      text-align: center;
      background: var(--brand-color) ;
      margin-left: auto;
      margin-right: auto;
      background: linear-gradient(0deg, rgba(213, 117, 63, 0.7), rgba(213, 117, 63, 0.7)), #d9d9d9;
      background-image : 
      url("../images/mobile/background.jpg");
      padding-top: 60px;
      padding-bottom: 60px;
                    
      }
        
      .label-product {
      font-family: 'Montserrat', sans-serif;
      font-weight: 800;
      font-size: 18px;
      line-height: 22px;
      text-align: center;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      color: var(--text-dark);
      margin-bottom: 12px;
      }
                  
      .h2 {
      font-family: 'Seymour One', sans-serif;
      font-weight: 400;
      font-size: 30px;
      text-align: center;
      letter-spacing: 0.04em;
      text-transform: uppercase; 
      line-height: 38px;
      color: var(--text-dark);   
      margin-bottom: 40px;  
      }
                                                    
      .h3 {
      font-family: 'Montserrat', sans-serif;
      font-weight: 700;
      font-size: 20px;
      line-height: 24px;
      text-align: center;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      color: var(--text-dark);
      margin-top: -100px;
      padding-top: 126;
      height: 24px;
      
      }
                                                    
                                                
      .p {
      font-family: 'Montserrat', sans-serif;
      font-weight: 400;
      font-size: 14px;
      line-height: 1.76;
      text-align: center;
      letter-spacing: 0.04em;
      color: var(--text-dark);
      margin-top: 60px;   
      margin-right: 40px;  
      margin-left: 40px;  
      height: 100px;
      left: 353px;
      top: 487px;
      
      }
                              
      .cream-fone {  
      background: linear-gradient(0deg, rgba(156, 190, 143, 0.7), rgba(156, 190, 143, 0.7)), #d9d9d9;
      box-shadow: 0px 8px 30px rgba(10, 136, 23, 0.25);
      position: absolute;
      border-radius: 100px;
      bottom: 11px;
      width: 200px;
      height: 200px;
      
             
      }
                  
      .cream-img {
      background: linear-gradient(0deg, rgba(156, 190, 143, 0.7), rgba(156, 190, 143, 0.7)), #d9d9d9;
      box-shadow: 0px 8px 30px rgba(10, 136, 23, 0.25);
      border-radius: 100px;
      position: relative;
      width: 200px;
      height: 200px;
      left: 0px;
      top: 11px;
      margin-left: 40px;
      margin-right: 0;
      }
                  
      .cream-products {
      width: 280px;
      height: 420px;
      left: 273px;
      top: 280px;
      background: var(--light-green);
      box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
      border-radius: 24px;
      padding: 0;
      padding-bottom: 60px;
      margin-bottom: 60px;
      }
                       
      .coffee-fone {
      position: absolute;
      border-radius: 100px;
      bottom: 11px;
      width: 200px;
      height: 200px;
      background: linear-gradient(0deg, rgba(248, 210, 78, 0.7), rgba(248, 210, 78, 0.7)), #D9D9D9;
      box-shadow: 0px 8px 30px rgba(153, 114, 23, 0.25);
                     
      }
                  
      .coffee-img {
      border-radius: 100px;
      position: relative;
      width: 200px;
      height: 200px;
      left: 0px;
      top: 11px;
      margin-left: 60px;
      background: linear-gradient(0deg, rgba(248, 210, 78, 0.7), rgba(248, 210, 78, 0.7)), #D9D9D9;
      box-shadow: 0px 8px 30px rgba(153, 114, 23, 0.25);
      margin-left: 40px;
      margin-right: 0;
      }
                  
      .coffee-products {
      width: 280px;
      height: 420px;
      left: 273px;
      top: 280px;
      background: var(--light-yellow);
      border-radius: 24px;
      padding-bottom: 60px;
      margin-bottom: 60px;
      }     
                  
      .milk-fone {
      position: absolute;
      border-radius: 100px;
      bottom: 11px;
      width: 200px;
      height: 200px;
      background: linear-gradient(0deg, rgba(213, 117, 63, 0.7), rgba(213, 117, 63, 0.7)), #D9D9D9;
      box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.25);
      
      }
                  
      .milk-img {
      border-radius: 100px;
      position: relative;
      width: 200px;
      height: 200px;
      left: 0px;
      top: 11px;
      margin-left: 60px;
      background: linear-gradient(0deg, rgba(213, 117, 63, 0.7), rgba(213, 117, 63, 0.7)), #D9D9D9;
      box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.25);
      margin-left: 40px;
      margin-right: 0;
      }
                  
      .milk-products {
      width: 280px;
      height: 420px;
      left: 273px;
      top: 280px;
      border-radius: 24px;
      background: var(--chocolate);
      padding-bottom: 60px;
      margin-bottom: 60px;
      }
               
      .h3-planschet {
      font-weight: 700;
      font-size: 36px;
      line-height: 40px;
      text-align: center;
      letter-spacing: 0.02em;
      text-transform: capitalize;
      }
                    
                    
      .style2{
      display: flex; 
      flex-direction: column; 
      gap: 60px; 
      margin: auto;
      align-items: center;
      }
                    
      .img-mobile {
      display: block;
                        
      }
                    
      
      .icons-symbol {
      margin-top: 100px;
      justify-content: center;
      align-items: center;
      margin-left: auto;
      margin-right: auto;
      border: none;
      background: transparent;
      outline: none;            
      }
                                              
      .icons {
      width: 40px;
      height: 16px;
      left: 0px;
      outline: none;                     
      }
                    
      }
                    
                    
      @media screen and (min-width: 480px) {
       
      .top-product {
      text-align: center;
      }
                  
      .products {
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      text-align: center;
      background: var(--brand-color) ;
      margin-left: auto;
      margin-right: auto;
      background: linear-gradient(0deg, rgba(213, 117, 63, 0.7), rgba(213, 117, 63, 0.7)), #d9d9d9;
      background-image : 
      url("../images/mobile/background.jpg");
      padding-top: 60px;
      padding-bottom: 60px;
                                
      }
      
      .label-product {
      font-family: 'Montserrat', sans-serif;
      font-weight: 800;
      font-size: 18px;
      line-height: 22px;
      text-align: center;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      color: var(--text-dark);
      margin-bottom: 12px;
      }
                              
      .h2 {
      font-family: 'Seymour One', sans-serif;
      font-weight: 400;
      font-size: 30px;
      text-align: center;
      letter-spacing: 0.04em;
      text-transform: uppercase; 
      line-height: 38px;
      color: var(--text-dark);   
      margin-bottom: 40px;  
      }
                                                                
      .h3 {
      font-family: 'Montserrat', sans-serif;
      font-weight: 700;
      font-size: 20px;
      line-height: 24px;
      text-align: center;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      color: var(--text-dark);
      margin-top: -100px;
      padding-top: 126;
      height: 24px;
                  
      }
                                                                
                                                            
      .p {
      font-family: 'Montserrat', sans-serif;
      font-weight: 400;
      font-size: 14px;
      line-height: 176%;
      text-align: center;
      letter-spacing: 0.04em;
      color: var(--text-dark);
      margin-top: 60px;   
      margin-right: 60px;  
      margin-left: 60px;  
      height: 100px;
      left: 353px;
      top: 487px;
                  
      }
                                          
      .cream-fone {  
      background: linear-gradient(0deg, rgba(156, 190, 143, 0.7), rgba(156, 190, 143, 0.7)), #d9d9d9;
      box-shadow: 0px 8px 30px rgba(10, 136, 23, 0.25);
      position: absolute;
      border-radius: 100px;
      bottom: 11px;
      width: 200px;
      height: 200px;
                         
      }
                              
      .cream-img {
      background: linear-gradient(0deg, rgba(156, 190, 143, 0.7), rgba(156, 190, 143, 0.7)), #d9d9d9;
      box-shadow: 0px 8px 30px rgba(10, 136, 23, 0.25);
      border-radius: 100px;
      position: relative;
      width: 200px;
      height: 200px;
      left: 0px;
      top: 11px;
      margin-left: 60px;
      }
                              
.cream-products {
width: 320px;
height: 428px;
left: 293px;
top: 297px;
background: var(--light-green);
box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
border-radius: 24px;
padding-bottom: 60px;
margin-bottom: 60px; 
}
                                   
.coffee-fone {
position: absolute;
border-radius: 100px;
bottom: 11px;
width: 200px;
height: 200px;
background: linear-gradient(0deg, rgba(248, 210, 78, 0.7), rgba(248, 210, 78, 0.7)), #D9D9D9;
box-shadow: 0px 8px 30px rgba(153, 114, 23, 0.25);
                                    
}
                              
.coffee-img {
border-radius: 100px;
position: relative;
width: 200px;
height: 200px;
left: 0px;
top: 11px;
margin-left: 60px;
background: linear-gradient(0deg, rgba(248, 210, 78, 0.7), rgba(248, 210, 78, 0.7)), #D9D9D9;
box-shadow: 0px 8px 30px rgba(153, 114, 23, 0.25);
}
                              
.coffee-products {
width: 320px;
height: 428px;
left: 293px;
top: 297px;
background: var(--light-yellow);
border-radius: 24px;
padding-bottom: 60px;
margin-bottom: 60px;
}     
                              
.milk-fone {
position: absolute;
border-radius: 100px;
bottom: 11px;
width: 200px;
height: 200px;
background: linear-gradient(0deg, rgba(213, 117, 63, 0.7), rgba(213, 117, 63, 0.7)), #D9D9D9;
box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.25);
}
                              
.milk-img {
border-radius: 100px;
position: relative;
width: 200px;
height: 200px;
left: 0px;
top: 11px;
margin-left: 60px;
background: linear-gradient(0deg, rgba(213, 117, 63, 0.7), rgba(213, 117, 63, 0.7)), #D9D9D9;
box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.25);
}
                              
.milk-products {
width: 320px;
height: 428px;
left: 293px;
top: 297px;
border-radius: 24px;
background: var(--chocolate);
padding-bottom: 60px;
margin-bottom: 60px;
}
                           
                                                  
.style2{
display: block;
margin-left: 60px;
}
                                
.img-mobile {
display: block;
                                    
 }
                                
                  
.icons-symbol {
margin-top: 100px;
justify-content: center;
align-items: center;
margin-left: auto;
margin-right: auto;
border: none;
background: transparent;
outline: none;   
}
                                              
.icons {
width: 40px;
height: 16px;
left: 0px;
outline: none;                     
}
                      
                    
      }
                         
              
 /*   ____________________________  planschet   _______________________________________   */
              
@media screen and (min-width: 768px) {
      
.top-product {
text-align: center;
}
                              
.products {
background-repeat: no-repeat;
background-position: center;
background-size: cover;
text-align: center;
background: var(--brand-color) ;
margin-left: auto;
margin-right: auto;
background: linear-gradient(0deg, rgba(213, 117, 63, 0.7), rgba(213, 117, 63, 0.7)), #d9d9d9;
background-image : 
url("../images/tablet/background.jpg");
padding-top: 60px;
padding-bottom: 60px;
      
}
                  
.label-product {
width: 178px;
height: 27px;
left: 386px;
top: 174px;
font-size: 22px;
line-height: 27px;
      
}
      
.h2 {
line-height: 43px;
margin-bottom: 80px;
      
}
                            
.h3 {
font-size: 22px;
line-height: 27px;
}
                            
                        
.p {
margin-left: 26px;
margin-right: 26px;
height: 175px;
left: 389px;
top: 631px;
margin-top: 40px;
      
      
}
      
.cream-fone {
width: 200px;
height: 200px;
left: 0px;
bottom: 12px;
}
                  
.cream-img {
width: 200px;
height: 200px;
left: 0px;
top: 12px;
border-radius: 98px;
position: relative;
margin-left: 10px;
}
                  
.cream-products {
width: 224px;
height: 428px;
left: 123px;
top: 456px;
background: var(--light-green);
box-shadow: 0px 5.26027px 19.726px rgba(212, 20, 67, 0.1);
border-radius: 15.7808px;
padding: 0;
}
              
.coffee-fone {
width: 200px;
height: 200px;
left: 0px;
bottom: 12px;
}
                  
.coffee-img {
width: 200px;
height: 200px;
left: 0px;
top: 0px;
border-radius: 98px;
position: relative;
margin-left: 10px;
}
                  
.coffee-products {
width: 224px;
height: 428px;
left: 363px;
top: 456px;
background: var(--light-yellow);
border-radius: 15.7808px;
}     
                  
                  
.milk-fone {
width: 200px;
height: 200px;
left: 0px;
bottom: 12px;
}
      
      
.milk-img {
width: 200px;
height: 200px;
left: 0px;
top: 0px;
border-radius: 98px;
position: relative;
margin-left: 10px;
}
                  
.milk-products {
width: 224px;
height: 428px;
left: 603px;
top: 456px; 
background: var(--chocolate);
border-radius: 15.7808px;
}
      
.border {
padding-bottom: 108px;
text-align: center;
margin-bottom: 8px;
margin-top: -100px;     
}
      
.our-team {
      
height: 428px;
left: 123px;
top: 456px;
margin-right: 16px;
}
                           
.icons-symbol {
margin-top: 58px;
justify-content: center;
align-items: center;
margin-left: auto;
margin-right: auto;
border: none;
background: transparent;
outline: none;                  
}
                                              
.icons {
width: 40px;
height: 16px;
left: 0px;
outline: none;                     
}
                            
      
.style2 {
display: flex;
height: 548px;
left: 123px;
top: 336px;
margin-left: auto;
}
      
      
                              
 }
                    
/*   ____________________________  dask-top   _______________________________________   */
                    
@media screen and (min-width: 1200px) {
                    
                    
.products {
background-repeat: no-repeat;
background-position: center;
background-size: cover;
text-align: center;
background: var(--brand-color) ;
margin-left: auto;
margin-right: auto;
background: linear-gradient(0deg, rgba(213, 117, 63, 0.7), rgba(213, 117, 63, 0.7)), #d9d9d9;
background-image : 
url("../images/desktop/background.jpg");
padding-top: 60px;
padding-bottom: 60px;                
}
                       
.label-product {
font-family: 'Montserrat', sans-serif;
font-style: normal;
font-weight: 800;
font-size: 30px;
line-height: 37px;
text-align: center;
letter-spacing: 0.04em;
text-transform: uppercase;
color: var(--text-dark);
margin-bottom: 12px;
width: 256px;
height: 37px;
left: 36px;
top: 0px;
margin-top: 60px;
}
                        
.top-product {
text-align: center;
margin-bottom: 120px;
color: var(--text-dark);
            }
                        
                        
.h2 {
font-family: 'Seymour One', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 45px;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
                           
 }
                            
.h3 {
font-family: 'Montserrat', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 37px;
text-align: center;
letter-spacing: 0.04em;
text-transform: uppercase;
color: var(--text-dark);
margin-top: 165px;
padding: 0;
}
                            
                        
.p {
font-family: 'Montserrat', sans-serif;
font-weight: 400;
line-height: 1.76;
text-align: center;
letter-spacing: 0.04em;
color: var(--text-dark);
height: 142px;
left: 61px;
top: 451px;
margin-top: 66px;   
margin-right: 64px;  
margin-left: 64px;   
}
                  
.cream-fone {
width: 302px;
height: 302px;   
background: linear-gradient(0deg, rgba(156, 190, 143, 0.7), rgba(156, 190, 143, 0.7)), #d9d9d9;
box-shadow: 0px 8px 30px rgba(10, 136, 23, 0.25);
position: absolute;
border-radius: 150;
bottom: 16px;
                  
}
                  
.cream-img {
border-radius: 150px;
position: relative;
width: 302px;
height: 302px;
background: linear-gradient(0deg, rgba(156, 190, 143, 0.7), rgba(156, 190, 143, 0.7)), #d9d9d9;
box-shadow: 0px 8px 30px rgba(10, 136, 23, 0.25);
left: 25px;
}
                  
.cream-products {
width: 370px;
height: 536px;
left: 0px;
top: 183px;
background: var(--light-green);
box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
border-radius: 24px;
}
                       
.coffee-fone {
width: 302px;
height: 302px;   
position: absolute;
border-radius: 150;
bottom: 16px;
background: linear-gradient(0deg, rgba(248, 210, 78, 0.7), rgba(248, 210, 78, 0.7)), #D9D9D9;
box-shadow: 0px 8px 30px rgba(153, 114, 23, 0.25);
                        
}
                  
.coffee-img {
border-radius: 150px;
position: relative;
width: 302px;
height: 302px;
left: 25px;
background: linear-gradient(0deg, rgba(248, 210, 78, 0.7), rgba(248, 210, 78, 0.7)), #D9D9D9;
box-shadow: 0px 8px 30px rgba(153, 114, 23, 0.25);
}
                  
.coffee-products {
width: 370px;
height: 536px;
left: 399px;
top: 183px;
background: var(--light-yellow);
border-radius: 24px;
}     
                  
.milk-fone {
width: 302px;
height: 302px;   
position: absolute;
border-radius: 150;
 bottom: 16px;
background: linear-gradient(0deg, rgba(213, 117, 63, 0.7), rgba(213, 117, 63, 0.7)), #D9D9D9;
box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.25);
}
                  
.milk-img {
border-radius: 150px;
position: relative;
width: 302px;
height: 302px;
left: 25px;
background: linear-gradient(0deg, rgba(213, 117, 63, 0.7), rgba(213, 117, 63, 0.7)), #D9D9D9;
 box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.25);
}
                  
.milk-products {
width: 370px;
height: 536px;
left: 798px;
top: 183px;
border-radius: 24px;
background: var(--chocolate);
}
                  
.our-team {
width: 370px;
margin-right: 24px;
height: 719px;
left: 77px;
top: 272px;
background: transparent;
                  
}
                            
.our-team:nth-last-child {
margin-right: 0;
}
                            
                            
.icons-symbol {
margin-top: 58px;
justify-content: center;
align-items: center;
margin-left: auto;
margin-right: auto;
border: none;
background: transparent;
outline: none;            
}
                                        
.icons {
width: 40px;
height: 16px;
left: 0px;
outline: none;                     
}
                       
                            
.style2 {
display: flex;
width: 1168px;
height: 719px;
left: 77px;
top: 272px;
}
                            
.border {
padding: 32px 16px;
text-align: center;
margin-bottom: 8px;
margin-top: -150px; 
width: 370px;
height: 536px;
left: 0px;
top: 183px;
      
      
}
                    
 }
                
      