
// .advantages-section {
// width: 100%;
//     background-color: var(--main-green);
// }






 @media screen and (min-width: 768px) {
//   width: 768px;
//   padding-left: 32px;
//   padding-right: 32px;
.advantages-cov-box {
        display: none;
    }
.advantages-text-1 {
margin-bottom: 1px;

font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 22px;
    line-height: 1.22;
    text-align: center;
        letter-spacing: 0.04em;
        text-transform: uppercase;
    
        color: var(--text-light);
}

.advantages-text-2 {
  margin-left: 157px;
  margin-right: 157px;
font-size: 34px;
    }
// .advantages-korova {

// margin-left: 17px;
//  margin-right: 109px;
// }
.text-2-box {
    width: 454px;

}
.advantages-cov-box {
    display: inline-flex;
    padding-top: 72px;
}
.advantages-korova {
    margin: 0;
    padding: 0;
}
.button-read:hover {
    background-color: #0A8817;
    border-radius: #0A8817;
}

.button-read:focus {
    background-color: #0A8817;
}

.button-read:disabled {
    background-color: #ABABAB;
}
.description-conteiner {
width: 336px;

margin: 0;


}
.corova-crup {
    padding-right: 38px;


}
.advantages-description {
    text-align: left;
    width: 334px;
    padding-top: 8px;
    padding-right: 34px;
}

.description-text {

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 176%;

    text-align: left;
    letter-spacing: 0.04em;

    color: var(--text-light)
}
.button-read {
    margin-right: 420px;
}
.weight {

    // padding: 0;

    // margin-top: 0;
    // justify-content: center;
    margin-left: 80px;
}
.creaw-box {
    margin-top: 60px;
    padding-bottom: 178px;
    margin-right: 76px;
    margin-left: 76px;
}

.kream {
    margin-top: 0;
    margin-left: 80px;
}
.crem-tetle {
    display: flex;
}
.advantages-text-mass {
    width: 152px;

font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 174%;

    text-align: center;

    color: var(--text-light);

}
.advantages-nomber-mass {
    font-weight: 700;
    font-size: 58px;
    line-height: 1.22;

    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 16px;

    color: var(--text-light);

   }
 }




 
//  @media (min-device-pixel-ratio:2),
//  (min-resolution: 192dpi),
//  (min-resolution: 2dppx) {
// .advantages-cov-box {
//  background-image:
//      url(../images/mobile_webp/cow.webp);
//      }
//  }


//  @media  (min-device-pixel-ratio:2),
//  (min-resolution: 192dpi),
//  (min-resolution: 2dppx) {
// .advantages-cov-box {
//  background-image:
//  url(../images/mobile_webp/cow@2.webp);
//   }
// }

//  @media screen and (max-width: 767px) {
//      .advantages-cov-box {
//      background-image:
//               url(../images/mobile_webp/cow.webp);
//           background-position: center;
//           background-repeat: no-repeat;
//           background-size: cover;
//           border-radius: 50%;
//       }
//   }
//  @media (min-device-pixel-ratio:2),
//  (min-resolution: 192dpi),
//  (min-resolution: 2dppx) {
// .advantages-cov-box {
//     background-image:
//     url(../images/mobile_webp/cow.webp);
//      }
//     }


// @media (min-device-pixel-ratio:2),
//  (min-resolution: 192dpi),
//  (min-resolution: 2dppx) {
// .advantages-cov-box {
//  background-image:
//      url(../images/desktop_webp/cow@2.webp);
//      }

// .korova-fone {
//  background: linear-gradient(var(--main-yellow), var(--main-yellow)), var(--gradient);
//  border-radius: 50%;
//  justify-content: center;
//  margin-top: 26px;
//  position: absolute;
//       }
//  }



//   @media screen and (min-width:768px) {
// .korova-fone {

//  background: linear-gradient(var(--main-yellow), var(--main-yellow)), var(--gradient);
//  border-radius: 50%;
//  justify-content: center;
//  margin-top: 26px;
//  position: absolute;
//   max-width: 330px;
//  max-height: 350px;
//     }


//     .advantages-cov-box {
//     background-image:
//     url(../images/tablet_webp/cow.webp);
// background-position: center;
// background-repeat: no-repeat;
// background-size: cover;
// max-width: 330px;
// height: 350px;

// border-radius: 50%;
//  }
// .korova-fone {

//     background: linear-gradient(var(--main-yellow), var(--main-yellow)), var(--gradient);
//     border-radius: 50%;
//     justify-content: center;
//     margin-top: 26px;
//     position: absolute;
//     max-width: 330px;
// max-height: 350px;
//  }
//   }





 @media screen and (max-width: 767px) {
     .weight {

         margin-top: 28px;

     }

     // .photo-tabel {
     //     img {
     //         width: 330px;
     //         height: 328px;
     //     }
     // }


     .advantages-text-1 {
         font-family: 'Montserrat';
         font-style: normal;
         font-weight: 700;
         font-size: 18px;
         line-height: 1.22;

         margin-top: 61px;
         padding-left: 55px;
         padding-right: 55px;

         text-align: center;
         text-transform: uppercase;

         color: var(--text-light);
     }

     .corova-crup {
         width: 280px;
         height: 300px;
         display: flex;

         position: relative;
         padding: 0;
         margin: 0;
         justify-content: center;
         // margin-bottom: 40px;
         // margin-top: 32px;
         margin-left: 100px;
         margin-right: 100px;
     }

     .description-text {
font-family: 'Montserrat';
    font-style: normal;
         font-weight: 400;
         font-size: 12px;
         line-height: 176%;

         text-align: center;
         letter-spacing: 0.04em;

         color: var(--text-light)
     }

.description-conteiner {
        
        
 margin: 0;
width: 220px;
 padding-top: 40px;
 margin-left: 130px;
margin-right: 130px;
    
 margin-bottom: 4px;
// gap: 4px;
  }

     .advantages-nomber-mass {
         font-weight: 700;
         font-size: 36px;
         line-height: 1.22;

         text-align: center;
         letter-spacing: 0.04em;
         text-transform: uppercase;
         margin-left: auto;
         margin-right: auto;
         margin-bottom: 16px;

         color: var(--text-light);

     }

     .kream {
         margin-top: 22px;
     }

     .advantages-text-mass {
         width: 230px;


         font-weight: 700;
         font-size: 12px;
         line-height: 170%;

         text-align: center;

         color: var(--text-light);

     }

     .text-2-box {
         width: 200px;
         text-align: center;

     }

 }



 @media (min-width: 480px) {

     // .advantages-cov-box {
     //     text-align: center;
     // }
     .corova-crup {
         padding-top: 25px;
     }

     .advantages-text-2 {
         margin-left: 140px;
         margin-right: 140px;
     }

 

     .description-tex {
         font-family: 'Montserrat';
         font-style: normal;
         font-weight: 400;
         font-size: 12px;
         line-height: 176%;

         letter-spacing: 0.04em;

         color: var(--text-light)
     }

     .creaw-box {
         margin-top: 60px;
         padding-bottom: 81px;
     }

     .cow {
         margin-left: 215px;
         justify-content: center;

     }

     .advantages-text-mass {
         text-align: center;
         margin-left: 125px;
         margin-right: 125px;
     }


 }

  @media (max-width: 479px) {
      // .advantages-korova {
      //  margin-left: 60px;
      //  margin-right: 60px;
      //     }

      .description-conteiner {
          margin-left: 50px;
          margin-right: 50px;
      }


      .creaw-box {
          padding-top: 50px;
          padding-bottom: 68px;
      }

      .creaw-box {
          padding-top: 60px;
          padding-bottom: 81px;
      }

      .cow {
          justify-content: center;
          margin-left: 135px;
          margin-right: 135px;
      }

      .advantages-text-mass {

          margin-left: 45px;
          margin-right: 45px;
      }

      .corova-crup {

          margin-left: 20px;
          margin-right: 20px;
      }



  }

 @media screen and (max-width: 1200px) {
 .advantages-section {
width: 100%;
 text-align: center;
 background-color: var(--main-green);
  }


 }

 @media screen and (min-width: 1200px) {
     //  width: 1200px;
     //  padding-left: 16px;
     //  padding-right: 16px;

     .advantages-section {
         width: 100%;
         text-align: center;
         background-color: var(--main-green);
     }

     .advantages-text-1 {
         padding-left: 412px;
         padding-right: 412px;

     }

     .creaw-box {
         margin-top: 60px;
         padding-bottom: 178px;
         margin-right: 16px;
         margin-left: 16px;



     }

     .weight {
         margin-left: 32px;
     }

     .advantages-text-mass {
         width: 368px;
        font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 176%;
    
        
            text-align: center;
            letter-spacing: 0.02em;
        
            color: var(--text-light);
            margin: 0;


     }

.kream {
   margin-left: 32px; 
}


 }



// /////////////////////////////////////////////////



.advantages-text-2 {

    font-family: 'Seymour One';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 1.27;
    text-align: center;
    margin-left: auto;
    margin-right: auto;


    letter-spacing: 0.04em;
    text-transform: uppercase;

  
    margin-top: 12px;

    color: var(--text-light);
}

.advantages-korova {

    display: inline-flex;

    justify-content: center;
    width: 279px;
    height: 278px;

    // margin-top: 32px;
    // margin-bottom: 40px;
    // margin-left: 20px;
    // margin-right: 20px;

    background-color: var(--main-yellow);
    border-radius: 50%;
}

.korova-fone {

    position: absolute;
    margin-top: 22px;


    background: linear-gradient(var(--main-yellow), var(--main-yellow)), var(--gradient); // box-shadow: 0px 4.48583px 16.8218px var(--text-dark);
    border-radius: 50%;
    justify-content: center;

}

.description-conteiner {
text-align: center;
}
.advantages-description {

    position: relative;
}


.button-read {
    width: 164px;
    height: 42px;
    display: flex;

    margin-top: 12px;
    padding-left: 34px;


    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.28;
    align-items: center;
    text-align: center;


    color: var(--text-dark);
    cursor: pointer;

    background: var(--main-yellow);
    border-radius: 10px;
    border-color: var(--main-yellow);
   transition: background-color 250ms var(--cubic-bezier);
}
.button-read-svg {
    display: flex;
    align-items: center;
    width: 6px;
    height: 10px;
    background-color: azure;
margin-left: 8px;



}
.button-read-icon {
justify-content: center;
padding-right: 37px;
padding-left: 24px;
margin-top: 25px;
fill: #131313
 }


.advantages-mass {
    display: inline-flex;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 68px;
    justify-content: center;
    margin: 0;
}
.advantages-list {
    display: block;
text-align: center;
    width: 100%;
 margin-left: 50px;
 margin-right: 50px;
    margin: 0;

}

.cov-fone {
    display: inline-flex;
    background-color: var(--main-yellow);
    border-radius: 25px;
        margin: 0;
        padding: 0;


    width: 50px;
    height: 50px;
    // margin-left: auto;
    // margin-right: auto;
    margin-bottom: 16px;
    justify-content: center;



}

.cow-icon {
    justify-content: center;
    margin: 0;
    padding: 0;
  margin-top: 7px;
  margin-bottom: 7px;
    margin-left: 7px;
    margin-right: 7px;

    fill: #131313;


}