
<Section class="footer">
    <div class="container">
        <div class="footer-position">
<div class="footer-text-box">
    <h2 class="footer-title">homemade ice cream made </h2>
    <p class="footer-text">with passion</p>
</div>
<div class="footer-sosial-contacts">
    <ul class="footer-sosial-media">
        <li class="footer-network-list">
            <a class="footer-network-link">
                <svg >
                <use class="footer-link-icon" href="./images/sprite.svg#github"></use>
            </svg>

            </a>    
        </li>
        <li class="footer-network-list">
            <a class="footer-network-link">
            <svg >
                <use class="footer-link-icon" href="./images/sprite.svg#telegram"></use>
            </svg>
            </a>
        </li>
        <li class="footer-network-list">
            <a class="footer-network-link">
<svg >
                <use class="footer-link-icon" href="./images/sprite.svg#facebook"></use>
            </svg>
            </a>
        </li>
    </ul>

    <p class="footer-contact-text">Feel free to contact 
         <span class="footer-tell">+61 (0) 383 766 284</span> 
    </p>
</div>
</div>
<div class="footer-copyright">
<p class="footer-copyright-text">&#169 2022 - IceCream. All Rights Reserved. </p>
</div>
</div>
</Section>
