<Section class="footer">
    <div class="container">
<div>
    <h2>homemade ice cream made </h2>
    <p>with passion</p>
</div>
<div>
    <ul>
        <li>
            <a>
                <svg>
                <use></use>
            </svg>

            </a>    
        </li>
        <li>
            <a>
<svg>
                <use></use>
            </svg>
            </a>
        </li>
        <li>
            <a>
<svg>
                <use></use>
            </svg>
            </a>
        </li>
    </ul>

    <p>Feel free to contact  <span class="Footer-tell">+61 (0) 383 766 284</span> </p>
</div>

<p>&#169 2022 - IceCream. All Rights Reserved. </p>
</div>
</Section>
