<!-- ************************** header ************************** -->
<header id="home" class="header">
  <div class="container">
    <div class="header-div">
      <!-- <nav class="header-nav"> -->
      <!-- Logo -->
      <a href="" class="logo">
        <svg class="header-logo-svg">
          <use href="./images/sprite.svg#logo"></use>
        </svg>
      </a>
      <!-- Navigation to other pages -->
      <ul class="site-nav">
        <li class="site-nav-item">
          <a href="#home" class="link current">Home</a>
        </li>
        <li class="site-nav-item">
          <a href="#how-made" class="link">How it's made?</a>
        </li>
        <li class="site-nav-item">
          <a href="#products" class="link">Our products</a>
        </li>
        <li class="site-nav-item">
          <a href="#contacts" class="link">Contacts</a>
        </li>
      </ul>
      <!-- </nav> -->
      <button header-button-open type="button" class="header-button">
        <span class="header-button-span-text">Buy now</span>
        <span class="header-button-span-svg">
          <svg class="header-button-svg" width="6" height="10">
            <use href="./images/sprite.svg#vector"></use>
          </svg>
        </span>
      </button>
      <!-- ************ modal-menu icon************ -->
      <button
        class="header-modal-open js-open-menu"
        aria-expanded="false"
        aria-controls="mobile-menu"
      >
        <svg class="header-svg-open" width="32" height="32">
          <use href="./images/sprite.svg#burger"></use>
        </svg>
      </button>
    </div>
  </div>
</header>
