<section class="hero-section">
    <div class="container hero-wrapper">
      <h1 class="hero-title">ice cream made with <span>passion</span> </h1>

      <!-- <button class="hero-btn" type="button">Products</button> -->
      <a class="hero-btn" href="#products">Products</a>

      <a class="hero-link" href="#how-made">How it’s made?</a>
      <p class="hero-descreption">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
      
      <a href="#" class="hero-arrow-link">
        <svg class="hero-arrow-svg" width="40" height="16">
          <use href="./images/sprite.svg#arrow"></use>
        </svg>
      </a>
      
      <!-- icecream img -->
      <div>
        <picture>
          <source
            srcset="./images/desktop/icecream.png 1x, ./images/desktop/icecream@2.png 2x"
            media="(min-width: 1200px)"
          />
          <source
            srcset="./images/tablet/icecream.png 1x, ./images/tablet/icecream@2.png 2x"
            media="(min-width: 768px)"
          />
          <source
            srcset="./images/mobile/icecream480.png 1x, ./images/mobile/icecream480@2.png 2x"
            media="(min-width: 480px)"
          />
          <img src="./images/mobile/icecream.png" alt="icecream" class="hero-icecream">
        </picture>
      </div>


      <!-- icecream plate img -->
      <div>
        <picture>
          <source
            srcset="./images/desktop/icecreamplate.png 1x, ./images/desktop/icecreamplate@2.png 2x"
            media="(min-width: 1200px)"
          />
          <source
            srcset="./images/tablet/icecreamplate.png 1x, ./images/tablet/icecreamplate@2.png 2x"
            media="(min-width: 768px)"
          />
          <img src="./images/tablet/icecreamplate.png" alt="icecream" class="hero-plate">
        </picture>
      </div>



      <div class="hero-numbers-wrapper">
        <p class="hero-numbers">16</p>
        <p class="hero-numbers">cafes</p>
        <p class="hero-numbers">23</p>
        <p class="hero-numbers">food trucks</p>
      </div>

    </div> 
  </section>