<section class="hero-section">
    <div class="container hero-wrapper">
      <h1 class="hero-title">ice cream made with <span>passion</span> </h1>
      <button class="hero-btn" type="button">Products</button>
      <a class="hero-link" href="#">How it’s made?</a>
      <p class="hero-descreption">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
      
      <svg class="hero-arrow-svg" width="40" height="16">
        <use href="./images/sprite.svg#arrow"></use>
      </svg>

      <div class="hero-numbers-wrapper">
        <p class="hero-numbers">16</p>
        <p class="hero-numbers">cafes</p>
        <p class="hero-numbers">23</p>
        <p class="hero-numbers">food trucks</p>
      </div>

    </div> 
  </section>