<!--/////// MODAL WINDOW LOCATION ////// -->

<div class="overlay js-overlay-modal"></div>
<div class="modal-location" data-modal="1">
  <button type="button" class="modal-location-button js-modal-close">
    <svg class="modal-location-button-icon" width="11" height="11">
      <use href="./images/sprite.svg#vector-black"></use>
    </svg>
  </button>
  <h3 class="modal-location-title">Our Locations</h3>
  <div class="map-location">
    <iframe
      class="map-size"
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d82744.71155383743!2d34.557238549999994!3d49.60204445!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d825e425e6ba6b%3A0xcf3e6bdfb9e4ca82!2z0J_QvtC70YLQsNCy0LAsINCf0L7Qu9GC0LDQstGB0YzQutCwINC-0LHQu9Cw0YHRgtGMLCAzNjAwMA!5e0!3m2!1suk!2sua!4v1674336834513!5m2!1suk!2sua"
      width="224"
      height="200"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe>
    <button type="button" class="button-open-map">Open map</button>
  </div>
</div>
