<div class="mobile-menu">
  <div class="mobile-menu-container">
    <a href="" class="logo">
      <svg class="main-logo" width="48" height="44">
        <use href="./images/sprite.svg#logo"></use>
      </svg>
    </a>
    <button class="mobile-menu-close-button">
      <svg class="mobile-menu-close-button-icon" width="19" height="19">
        <use href="./images/sprite.svg#vector-black"></use>
      </svg>
    </button>
    <ul class="mobile-menu-nav">
      <li class="mobile-menu-nav-item">
        <a class="mobile-menu-nav-link">Home</a>
      </li>
      <li class="mobile-menu-nav-item">
        <a class="mobile-menu-nav-link">How it’s made?</a>
      </li>
      <li class="mobile-menu-nav-item">
        <a class="mobile-menu-nav-link">Our products</a>
      </li>
      <li class="mobile-menu-nav-item">
        <a class="mobile-menu-nav-link">Contact</a>
      </li>
    </ul>
    <div class="button-order-now-div">
      <button type="button" class="button-order-now">
        Buy now
        <svg class="button-arrow-icon" width="12" height="12">
          <use href="./images/sprite.svg"></use>
        </svg>
      </button>
    </div>
  </div>
</div>
