<div class="mobile-menu js-menu-container">
  <div class="mobile-menu-container">
    <a href="" class="logo-mobile-menu">
      <svg class="main-logo" width="48" height="44">
        <use href="./images/sprite.svg#logo"></use>
      </svg>
    </a>
    <button class="mobile-menu-close-button js-close-menu">
      <svg class="mobile-menu-close-button-icon" width="19" height="19">
        <use href="./images/sprite.svg#vector-black"></use>
      </svg>
    </button>
    <ul class="mobile-menu-nav">
      <li class="mobile-menu-nav-item">
        <a href="#home" class="mobile-menu-nav-link">Home</a>
      </li>
      <li class="mobile-menu-nav-item">
        <a href="#how-it's-made?" class="mobile-menu-nav-link"
          >How it’s made?</a
        >
      </li>
      <li class="mobile-menu-nav-item">
        <a href="#our-products" class="mobile-menu-nav-link">Our products</a>
      </li>
      <li class="mobile-menu-nav-item">
        <a href="#contacts" class="mobile-menu-nav-link">Contacts</a>
      </li>
    </ul>
    <div class="button-order-now-div">
      <button
        data-modal="2"
        type="button"
        class="button-order-now js-open-modal"
        class="js-close-menu"
      >
        Buy now
        <svg class="button-arrow-icon" width="12" height="12">
          <use href="./images/sprite.svg#vector"></use>
        </svg>
      </button>
    </div>
  </div>
</div>
