<section id="products" class="products">
  <div class="container">
    <div class="top-product">
      <label class="label-product">100% natural</label>
      <h2 class="h2">products</h2>
    </div>

    <ul class="style2">
      <li class="img-mobile our-team list">
        <div class="cream-img">
          <img
            class="cream-fone"
            srcset="./images/desktop/threetype@2.jpg 2x"
            src="./images/desktop/threetype.jpg"
            alt="ice cream"
            width="302"
          />
        </div>

        <div class="cream-products border border-mobile">
          <h3 class="h3">ice cream</h3>
          <p class="p">
            Soft ice cream with a delicate taste. Made with milk, cream, sugar
            and natural stabilizer
          </p>

          <button
            class="icons-symbol js-open-modal"
            data-modal="3"
            type="button"
            data-modal-open
          >
            <svg class="icons">
              <use href="./images/sprite.svg#arrow"></use>
            </svg>
          </button>
        </div>
      </li>

      <li class="img-mobile our-team list">
        <div class="coffee-img">
          <img
            class="coffee-fone"
            srcset="./images/desktop/icecoffee@2.jpg 2x"
            src="./images/desktop/icecoffee.jpg"
            alt="ice coffee"
            width="302"
          />
        </div>

        <div class="coffee-products border">
          <h3 class="h3">ice coffee</h3>
          <p class="p">
            Fragrant invigorating drink created from 100% natural ingredients
            without the use of preservatives and flavor enhancers
          </p>

          <button
            class="icons-symbol js-open-modal"
            data-modal="3"
            type="button"
            data-modal-open
          >
            <svg class="icons">
              <use href="./images/sprite.svg#arrow"></use>
            </svg>
          </button>
        </div>
      </li>

      <li class="img-mobile our-team list">
        <div class="milk-img">
          <img
            class="milk-fone"
            srcset="./images/desktop/milkshakes@2.jpg 2x"
            src="./images/desktop/milkshakes.jpg"
            alt="milkshakes"
            width="302"
          />
        </div>

        <div class="milk-products border border-mobile">
          <h3 class="h3">milkshakes</h3>
          <p class="p">
            Sweet drinks based on milk and ice cream, supplemented with syrups,
            fruits, berries and other sweets of your choice
          </p>

          <button
            class="icons-symbol js-open-modal"
            data-modal="3"
            type="button"
            data-modal-open
          >
            <svg class="icons">
              <use href="./images/sprite.svg#arrow"></use>
            </svg>
          </button>
        </div>
      </li>
    </ul>
  </div>
</section>
