<main>
      
  
    <section class="prodacts">
      
      <div class="container">
  
      <div class="top-prodact">
        <label class="label-prodact">100% natural</label>
        <h2 >products</h2>
      </div>
  
        <ul class="team-list style2">
      
          <li class="img-mobile  our-team  our-team-mobile list">
            <img srcset="./images/desktop/threetype@2.jpg 2x" src="./images/desktop/threetype.jpg" alt="ice cream" width="302">
      
            <div class="cream border border-mobile">
            <h3 >ice cream</h3>
            <p>Soft ice cream with a delicate taste. Made with milk, cream, sugar and natural stabilizer</p>
              
            <ul class="icons-symbol">
              <li>
                <a href="https://www.instagram.com/" class="link" >
                <svg class="icons">
                <use href="./images/sprite.svg#vector-black"></use>
                </svg>
                 </a>
              </li>
              </ul>
            </div>
         
          <li class="img-mobile our-team list">
            <img srcset="./images/desktop/icecoffee@2.jpg 2x" src="./images/desktop/icecoffee.jpg" alt="ice coffee" width="302">
      
            <div class="coffee border border-mobile">
            <h3>ice coffee</h3>
            <p>Fragrant invigorating drink created from 100% natural ingredients without the use of preservatives and flavor enhancers</p>
              
            <ul class="icons-symbol">
              <li>
                <a href="https://www.instagram.com/" class="link" >
                <svg class="icons">
                <use href="./images/sprite.svg#vector-black"></use>
                </svg>
                </a>
              </li>
               
              </ul>
            </div>
         
          <li class="img-mobile our-team list">
            <img srcset="./images/desktop/milkshakes@2.jpg 2x" src="./images/desktop/milkshakes.jpg" alt="milkshakes" width="302">
                  
            <div class="milk border border-mobile">
            <h3 >milkshakes</h3>
            <p>Sweet drinks based on milk and ice cream, supplemented with syrups, fruits, berries and other sweets of your choice</p>
              
            <ul class="icons-symbol">
              <li>
                <a href="https://www.instagram.com/" class="link" >
                <svg class="icons">
                <use href="./images/sprite.svg#vector-black"></use>
                </svg>
                </a>
              </li>
            </ul>
            </div>
      
               
      
        </ul>
      
    </div>
    </section>
      
      </main>
