<section class="reviews-section">
  <div class="container reviews-container">
    <div class="slider swiper mySwiper">
      <!-- ====================================slide with form======================== -->
      <div class="slider-acting swiper-wrapper">
        <!-- ==================================slide Emily=========================== -->
        <div class="slide-complete swiper-slide">
          <picture class="reviews-slider-icecream">
            <source
              srcset="
                /src/images/desktop_webp/moreicecream.webp   1x,
                /src/images/desktop_webp/moreicecream@2.webp 2x
              "
              type="image/webp"
            />
            <source
              srcset="
                /src/images/desktop/moreicecream.jpg   1x,
                /src/images/desktop/moreicecream@2.jpg 2x
              "
            />
            <img src="/src/images/desktop/moreicecream.jpg" alt="icecream" />
          </picture>
          <picture class="reviews-slider-profile">
            <source
              srcset="
                /src/images/desktop_webp/pfofile.webp   1x,
                /src/images/desktop_webp/pfofile@2.webp 2x
              "
              type="image/webp"
            />
            <source
              srcset="
                /src/images/desktop/pfofile.jpg   1x,
                /src/images/desktop/pfofile@2.jpg 2x
              "
            />
            <img src="/src/images/desktop/pfofile.jpg" alt="profile1" />
          </picture>
          <div class="reviews-slider-coment">
            <p>
              I love visiting your cafe. You prepare the most delicious ice
              cream in Los Angeles! In addition, you have beautiful serving,
              cozy atmosphere and polite staff.
            </p>
          </div>
          <div class="profile-name">
            <p>Emily, Los Angeles</p>
          </div>
        </div>
        <!-- =========================== slide Bryan====================== -->
        <div class="slide-complete swiper-slide">
          <picture class="reviews-slider-icecream">
            <source
              srcset="
                /src/images/desktop_webp/moreicecream1.webp   1x,
                /src/images/desktop_webp/moreicecream1@2.webp 2x
              "
              type="image/webp"
            />
            <source
              srcset="
                /src/images/desktop/moreicecream1.jpg   1x,
                /src/images/desktop/moreicecream1@2.jpg 2x
              "
            />
            <img src="/src/images/desktop/moreicecream1.jpg" alt="icecream2" />
          </picture>
          <picture class="reviews-slider-profile">
            <source
              srcset="
                /src/images/desktop_webp/profile1.webp   1x,
                /src/images/desktop_webp/profile1@2.webp 2x
              "
              type="image/webp"
            />
            <source
              srcset="
                /src/images/desktop/profile1.jpg   1x,
                /src/images/desktop/profile1@2.jpg 2x
              "
            />
            <img src="/src/images/desktop/profile1.jpg" alt="profile2" />
          </picture>
          <div class="reviews-slider-coment">
            <p>
              Every day we come to you with friends after classes in college. We
              love your ice cream and casual atmosphere!
            </p>
          </div>
          <div class="profile-name">
            <p>Bryan, New-York</p>
          </div>
        </div>
        <!-- ====================================slide Diana============================ -->
        <div class="slide-complete swiper-slide">
          <picture class="reviews-slider-icecream">
            <source
              srcset="
                /src/images/desktop_webp/moreicecream2.webp   1x,
                /src/images/desktop_webp/moreicecream2@2.webp 2x
              "
              type="image/webp"
            />
            <source
              srcset="
                /src/images/desktop/moreicecream2.jpg   1x,
                /src/images/desktop/moreicecream2@2.jpg 2x
              "
            />
            <img src="/src/images/desktop/moreicecream2.jpg" alt="icecream3" />
          </picture>
          <picture class="reviews-slider-profile">
            <source
              srcset="
                /src/images/desktop_webp/profile2.webp   1x,
                /src/images/desktop_webp/profile2@2.webp 2x
              "
              type="image/webp"
            />
            <source
              srcset="
                /src/images/desktop/profile2.jpg   1x,
                /src/images/desktop/profile2@2.jpg 2x
              "
            />
            <img src="/src/images/desktop/profile2.jpg" alt="profile3" />
          </picture>
          <div class="reviews-slider-coment">
            <p>
              Ice cream is my passion! I love your chocolate hazelnut ice cream!
              And I really like the excellent service - always served politely
              and quickly!
            </p>
          </div>
          <div class="profile-name">
            <p>Diana, Chicago</p>
          </div>
        </div>
      </div>
      <!-- <form class="slider-form">
        <input type="radio" name="respond" id="desktop" />
        <input type="radio" name="slider" id="switch1" />
        <input type="radio" name="slider" id="switch2" />
        <input type="radio" name="slider" id="switch3" />
      </form> -->
      <div class="swiper-pagination"></div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
  <script>
    var swiper = new Swiper('.mySwiper', {
      spaceBetween: 30,
      pagination: {
        el: '.swiper-pagination',
        clickable: true,
      },
      loop:
    });
  </script>
</section>
