<!-- Section Advantages -->
<section class="advantages-section containe">
  <div class="">
    <div class="label-hero">
      <label class="label-product">100% natural</label>
      <h2 class="h2">products</h2>
    </div>
    <ul>
      <li class="advantages-text-1">tradition and love</li>
      <li class="advantages-text-2 text-2-box">how it’s made?</li>
    </ul>
  </div>

  <!-- =======================================Mobil============================ -->
  <div class="advantages-cov-box p">
    <div class="corova-crup">
      <div class="advantages-korova">
        <img
          class="korova-fone"
          srcset="
            ./images/mobile_webp/cow.webp   1x,
            ./images/mobile_webp/cow@2.webp 2x
          "
          width="279"
          height="278"
          src="./images/mobile/cow.jpg "
          alt=""
        />
      </div>
    </div>
    <!-- ======================================Mobil======================== -->
    <!-- ============================Tab====================== -->
    <!-- <div class="corova-crup photo-tabel">
      <div class="advantages-korova">
        <img
          class="korova-fone"
          srcset="./images/tablet_webp/cow.webp 1x,
        ./images/tablet_webp/cow@2.webp. 2x"
          width="279"
          height="278"
          src="./images/tablet/cow.jpg "
          alt=""
        />
      </div>
    </div> -->
    <!-- ==============================Tab====================== -->
    <!-- =============================Destop=============================== -->

    <!-- <div class="advantages-cov-box">
    <div class="corova-crup">
      <div class="advantages-korova">
        <img
          class="korova-fone"
          srcset="./images/desktop_webp/cow.webp 1x,
        ./images/desktop_webp/cow@2.webp 2x "
          width="279"
          height="278"
          src="./images/desktop/cow.jpg "
          alt=""
        />
      </div>
    </div> -->
    <!-- ===============================Destop=============================== -->

    <div class="description-conteiner">
      <ul class="advantages-description">
        <li class="description-text">
          Ice is a place where you will become not only a little happier, but
          also healthier. Health is the main value for us, and we follow it when
          creating our handmade desserts.
        </li>

        <li class="description-text">
          We use traditional recipes and 100% natural ingredients. Our products
          are so natural that they can be given to children from the age of
          three years. Sweets lovers can expect 55 types of ice cream, 15 types
          of coffee and 23 milkshakes.
        </li>

        <li class="description-text">
          This is enough to choose ice cream and coffee for any mood!
        </li>
      </ul>

      <button type="button" class="button-read">
        Read more
        <span class="button-read-svg">
          <svg class="button-read-icon" width="6" height="10">
            <use href="./images/sprite.svg#vector-black"></use>
          </svg>
        </span>
      </button>
    </div>
  </div>

  <div class="creaw-box">
    <ul class="crem-tetle">
      <li>
        <a href="" class="cov-fone cow">
          <svg class="cow-icon" width="36" height="36">
            <use a href="./images/sprite.svg#cow"></use>
          </svg>
        </a>

        <p class="advantages-nomber-mass">721</p>

        <p class="advantages-text-mass">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>

      <li class="weight">
        <a href="" class="cov-fone cow">
          <svg class="cow-icon" width="36" height="36">
            <use a href="./images/sprite.svg#weight"></use>
          </svg>
        </a>
        <p class="advantages-nomber-mass">16kg</p>

        <p class="advantages-text-mass">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>

      <li class="kream">
        <a href="" class="cov-fone cow">
          <svg class="cow-icon" width="36" height="36">
            <use a href="./images/sprite.svg#ice-crema"></use>
          </svg>
        </a>

        <p class="advantages-nomber-mass">84</p>

        <p class="advantages-text-mass">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>
