<!-- Section Advantages -->
<section class="advantages-section container">
  <div class="advantages-container">
    <p class="advantages-text">tradition and love</p>
    <h2 class="advantages-title">how it’s made?</h2>
    <div class="advantages-picture-and">
      <div class="advantages-picture">
        <picture>
          <source
            srcset="
              ./images/desktop_webp/cow.webp   1x,
              ./images/desktop_webp/cow@2.webp 2x
            "
            media="(min-width: 1200px)"
            type="image/webp"
          />
          <source
            srcset="./images/desktop/cow.jpg 1x, ./images/desktop/cow@2.jpg 2x"
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/tablet_webp/cow.webp   1x,
              ./images/tablet_webp/cow@2.webp 2x
            "
            media="(min-width: 768px)"
            type="image/webp"
          />
          <source
            srcset="./images/tablet/cow.jpg 1x, ./images/tablet/cow@2.jpg 2x"
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/mobile_webp/cow.webp   1x,
              ./images/mobile_webp/cow@2.webp 2x
            "
            media="(max-width: 767px)"
            type="image/webp"
          />
          <source
            srcset="./images/mobile/cow.jpg 1x, ./images/mobile/cow@2.jpg 2x"
            media="(max-width: 767px)"
          />
          <img src="./images/mobile/cow.jpg" alt="Cow" class="advantages-img" />
        </picture>
      </div>
      <div class="advantages-desc">
          <p class="advantages-desc-item">
            Ice is a place where you will become not only a little happier, but
            also healthier. Health is the main value for us, and we follow it
            when creating our handmade desserts.
          </p>
          <p class="advantages-desc-item">
            We use traditional recipes and 100% natural ingredients. Our
            products are so natural that they can be given to children from the
            age of three years. Sweets lovers can expect 55 types of ice cream,
            15 types of coffee and 23 milkshakes.
          </li>
          <p class="advantages-desc-item">
            This is enough to choose ice cream and coffee for any mood!
          </p>
        <div class="advantages-btn">
          <button
            type="button"
            class="advantages-button js-open-modal"
            data-modal="4"
          >
            Read more
          </button>
          <svg class="advantages-btn-svg">
            <use href="./images/sprite.svg#vector"></use>
          </svg>
        </div>
      </div>
    </div>
    <ul class="advantages-thumb-items list">
      <li class="advantages-thumb-item">
        <a href="" class="advantages-thumb-list link">
          <svg class="advantages-thumb-svg" width="36" height="36">
            <use href="./images/sprite.svg#cow"></use>
          </svg>
        </a>
        <p class="advantages-thumb-text">721</p>
        <p class="advantages-thumb-lead">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages-thumb-item">
        <a href="" class="advantages-thumb-list link">
          <svg class="advantages-thumb-svg" width="36" height="36">
            <use href="./images/sprite.svg#weight"></use>
          </svg>
        </a>
        <p class="advantages-thumb-text">16kg</p>
        <p class="advantages-thumb-lead">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages-thumb-item">
        <a href="" class="advantages-thumb-list link">
          <svg class="advantages-thumb-svg" width="36" height="36">
            <use href="./images/sprite.svg#ice-crema"></use>
          </svg>
        </a>
        <p class="advantages-thumb-text">84</p>
        <p class="advantages-thumb-lead">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>
