<div class="buy-now is-hidden" data-modal="1">
  <div class="buy-now-modal">
    <button type="button" class="data-close-modal" data-modal-close>
      <svg class="close-icon" width="11" height="11">
        <use href="./images/sprite.svg#vector-black"></use>
      </svg>
    </button>

    <h3 class="buy-now-title">Buy now</h3>

    <!-- img -->
    <ul class="img-list">
      <li class="img-item">
        <img
          class="img-fone"
          srcset="./images/mobile_webp/threetype.webp
            1x, ./images/mobile_webp/threetype@2.webp 2"
          width="132"
          height="132"
          src="./images/mobile/threetype.jpg"
          alt="ice cream"
        />
        <div class="text-border">
          <p class="text-label">ice cream</p>
        </div>
      </li>
      <li class="img-item">
        <img
          class="img-fone"
          srcset="
            ./images/mobile_webp/mokka.webp   1x,
            ./images/mobile_webp/mokka@2.webp 2x
          "
          width="132"
          height="132"
          src="./images/mobile/icecoffee.jpg"
          alt="ice coffee"
        />
        <div class="text-border">
          <p class="text-label">ice coffee</p>
        </div>
      </li>
      <li class="img-item">
        <img
          class="img-fone"
          srcset="./images/mobile_webp/latte.webp
            1x, ./images/mobile_webp/latte@2.webp 2"
          width="132"
          height="132"
          src="./images/mobile/milkshakes.jpg"
          alt="milkshake"
        />
        <div class="text-border">
          <p class="text-label">milkshake</p>
        </div>
      </li>
    </ul>

    <!-- label -->
    <form class="buy-now-modal-form">
      <label class="buy-now-modal-form-field">
        <span class="input-form-modal-wrapper"
          ><input
            type="text"
            name="user_name"
            class="modal-form-input"
            required
            pattern="[a-zA-Zа-яА-ЯіІїЇ]+"
            minlength="2"
            placeholder="Name"
        /></span>
      </label>
      <label class="buy-now-modal-form-field">
        <span class="input-form-modal-wrapper">
          <input
            type="tel"
            name="user_phone"
            class="modal-form-input"
            required
            pattern="[0-9]{3}-[0-9]{3}-[0-9]{2}-[0-9]{2}"
            title="xxx-xxx-xx-xx"
            placeholder="Phone"
          />
        </span>
      </label>
      <label class="buy-now-modal-form-field-comment">
        <textarea
          name="user_message"
          class="modal-form-message"
          placeholder="Comment"
        ></textarea>
      </label>

      <!-- button submit -->
      <button type="submit" class="modal-form-submit">Submit</button>
    </form>
  </div>
</div>
