<!-- <div class="">
  <div class="buy-now-modal">
    <button class="button" class="data-close-modal" data-modal-close="">
      <svg class="close-icon" width="24" height="24">
        <use href="./images/sprite.svg#vector-black"></use>
      </svg>
    </button>
    <p class="">Buy now</p>
    <ul class="buy-now-list">
      <li><img src="" alt=""></li>
      <li><img src="" alt=""></li>
      <li><img src="" alt=""></li>
    </ul>
    <form class="modal-form">
      <label for=""></label>
    </form>
  </div>
</div> -->
